---
layout: home.njk
title: Journal - Using Notebook CSS
---
<h1>Notebook CSS</h1>
<p>Notebook is a lightweight CSS boilerplate that's dead simple to use.</p>
<p>Using Vanilla CSS only, Notebook requires no dependencies, no preprocessers, and no headaches.</p>
<hr>
<h2>A Few Examples</h2>
<p>Notebook provides styles for common elements in a minimal, neutral way which makes it incredibly easy to edit for future uses.</p>
<p>For example, here is <b>bold text</b> and <i>italicized text.</i> There are also styles for <a href="#">links</a>, <code>inline code</code>, and <mark>highlighted text.</mark></p>
<hr>
<h2>Typography Scale</h2>
<p>The type is set up to scale by setting a variable for <code>--default-size</code> and <code>--text-scale</code>. Once these are set, the headings and body type will be mathematically scaled to match.</p>
<p>Variables are currently available for the following:</p>
<div class="table-container">
    <table>
    <thead>
        <tr>
        <th>Variable</th>
        <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td><code>--default-size</code></td>
        <td>1rem</td>
        </tr>
        <tr>
        <td><code>--text-scale</code></td>
        <td>1.2</td>
        </tr>
        <tr>
        <td><code>--default-line-height</code></td>
        <td>1.4</td>
        </tr>
        <tr>
        <td><code>--text-xs</code></td>
        <td><code>calc(var(--default-size) / var(--text-scale))</code></td>
        </tr>
        <tr>
        <td><code>--text-sm</code></td>
        <td><code>var(--default-size)</code></td>
        </tr>
        <tr>
        <td><code>--text-md</code></td>
        <td><code>calc(var(--text-sm) * var(--text-scale))</code></td>
        </tr>
        <tr>
        <td><code>--text-lg</code></td>
        <td><code>calc(var(--text-md) * var(text-scale))</code></td>
        </tr>
        <tr>
        <td><code>--text-xl</code></td>
        <td><code>calc(var(--text-lg) * var(--text-scale))</code></td>
        </tr>
        <tr>
        <td><code>--text-xxl</code></td>
        <td><code>calc(var(--text-xl) * var(--text-scale))</code></td>
        </tr>
        <tr>
        <td><code>--text-xxxl</code></td>
        <td><code>calc(var(--text-xxl) * var(--text-scale))</code></td>
        </tr>
    </tbody>
    </table>
</div>
<p>For more information or experimentation with modular type scale, visit <a href="https://www.modularscale.com/?1&rem&1.2">modularscale.com</a></p>
<p>Feel free to edit <code>--font-primary</code>, <code>--font-secondary</code>, <code>--font-monospace</code>, and <code>--font-color</code> as needed.</p>
<hr>
<h2>Layouts and Containers</h2>
<p>Breakpoints and containers, like Notebook's typography, are based on an initial value and then scale accordingly.</p>
<div class="table-container">
    <table>
    <thead>
        <tr>
        <th>Variable</th>
        <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td><code>--container-mobile</code></td>
        <td>480px</td>
        </tr>
        <tr>
        <td><code>--container-tablet</code></td>
        <td><code>calc(var(--container-mobile) * 1.5)</code></td>
        </tr>
        <tr>
        <td><code>--container-desktop</code></td>
        <td><code>calc(var(--container-tablet) * 1.5)</code></td>
        </tr>
    </tbody>
    </table>
</div>
<p>Breakpoints are set to correspond with container sizes. Currently, <code>@media</code> attributes don't work with native CSS variables as they do in Sass or other preprocessers. So Notebook is designed to scale with the content.</p>
<hr>
<h2>Pretty Colors</h2>
<p>It's also useful to set your color settings ahead of time.</p>
<div class="table-container">
    <table>
    <thead>
        <tr>
        <th>Variable</th>
        <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td><code>--background</code></td>
        <td>#fff</td>
        </tr>
        <tr>
        <td><code>--primary</code></td>
        <td style="background: #1fd3ac;">#1fd3ac</td>
        </tr>
        <tr>
        <td><code>--secondary</code></td>
        <td style="background: #0250bc; color: #fff;">#0250bc</td>
        </tr>
        <tr>
        <td><code>--accent</code></td>
        <td style="background: #eebe3b;">#eebe3b</td>
        </tr>
        <tr>
        <td><code>--error</code></td>
        <td style="background: #e46e59;">#e46e59</td>
        </tr>
        <tr>
        <td><code>--success</code></td>
        <td style="background: #1ebe5c;">#1ebe5c</td>
        </tr>
        <tr>
        <td><code>--focus</code></td>
        <td style="background: #ccc;">#ccc</td>
        </tr>
    </tbody>
    </table>
</div>
<hr>
<h2>Forms</h2>
<p>If you need simple forms, you're all set.</p>
<form>
    <label for="text">Text Input</label>
    <input id="text" type="text" placeholder="Text Input">
    <label for="select">Select</label>
    <select id="select">
    <option>Option One</option>
    <option>Option Two</option>
    <option>Option Three</option>
    </select>
    <label for="textarea">Textarea</label>
    <textarea id="textarea" rows="5" cols="30" placeholder="Message"></textarea>
</form>
<h2>Images</h2>
<p>Images aren't responsive by default. However, there is a helpful <code>responsive-img</code> class to resize to 100% the width of its parent.</p>
<figure>
    <img class="responsive-img" src="https://www.fillmurray.com/1600/400" alt="Bill Murray">
    <figcaption>Bill Murray</figcaption>
</figure>
<hr>