/*! 
 * Notebook CSS | MIT License
 *
 * A modern, lightweight boilerplate built with vanilla CSS.
 *
 * Author: Ethan Shutt <ethan@ethanmade.it>
 * Source Code: https://github.com/ethanshutt/notebook
 */

html {
  /*  Set font size to base size of 16px */ 
  font-size: 16px; 
}

* { 
  /* Inherit font styling from parent if otherwise undefined */
  font-family: inherit; 
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
}

div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, fieldset, legend, table, 
caption, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
  /* Clear margin, padding, and border styles of individual elements */
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  /* HTML5 display reset */
  display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 
** Variable Setup
*/

:root {
  /* Modular Typography */
  --default-size: 1em;
  --text-scale: 1.2;
  --default-line-height: 1.4;
  --text-xs: calc(var(--default-size) / var(--text-scale));
  --text-sm: var(--default-size);
  --text-md: calc(var(--text-sm) * var(--text-scale));
  --text-lg: calc(var(--text-md) * var(--text-scale));
  --text-xl: calc(var(--text-lg) * var(--text-scale));
  --text-xxl: calc(var(--text-xl) * var(--text-scale));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale));

  /* Fonts */
  --font-primary: sans-serif;
  --font-secondary: serif;
  --font-monospace: monospace;

  /* Layout */
  --container-mobile: 90%;
  --container-tablet: 30em;
  --container-desktop: 34em;
 
  /* Spacing */
  --spacing-sm: calc(1em * var(--text-scale));
  --spacing-md: calc(var(--spacing-sm) * var(--text-scale));
  --spacing-lg: calc(var(--spacing-md) * var(--text-scale));

  /* Colors */
  --background: transparent;
  --text-color: #5a5a5a;
  --light-color: #c4c4c4;
  --dark-color: #2e2e2e;
  --link-color: #487abb;
}

/* Support for Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b2a2a;
    --text-color: #e4e4e4;
    --light-color: #3b3b3b;
    --dark-color: #a5a4a4;
    --link-color: #8eb8f0;
  }
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-primary);
  font-size: var(--default-size);
  line-height: var(--default-line-height);
}

/* 
** Layout
*/

.container {
  max-width: var(--container-mobile);
  margin: var(--spacing-md) auto;
  
}

@media (min-width: 700px) {
  .container {
    max-width: var(--container-tablet);
}
}

@media (min-width: 1200px) {
  .container {
    max-width: var(--container-desktop);
  }
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
  margin-top: var(--spacing-sm);
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin-bottom: 0;
}

h1 {
  font-size: var(--text-xxl);
}
h2 {
  font-size: var(--text-xl);
}
h3 {
  font-size: var(--text-lg);
}
h4 {
  font-size: var(--text-md);
}
h5 {
  font-size: var(--text-sm);
}

p {
  font-size: var(--text-sm);
}

p+p {
  margin-top: var(--spacing-md);
}

@media (min-width: 600px) {
  html {
    font-size: 105%;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 110%;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 115%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 120%;
  }
}

a {
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--link-color);
          text-decoration-color: var(--link-color);
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a:hover, a:active, a:focus {
  color: var(--link-color);
}

mark,
kbd {
  padding: 2px 3px;
}

code,
samp,
pre {
  font-family: var(--font-monospace);
}

mark {
  background: #fff7b4;
}

kbd {
  background: var(--light-color);
  border: 1px solid var(--text-color);
  border-bottom: 2px solid var(--dark-color);
}

sup,
sub,
small {
  font-size: var(--text-xs);
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -.25em;
}

blockquote {
  border-left: 6px solid  var(--dark-color);
  font-size: inherit;
  line-height: 1.6;
  margin: var(--spacing-lg) 0;
}

blockquote p {
  font-style: italic;
}

code, pre {
  font-family: var(--font-monospace);
}

pre, blockquote {
  padding: var(--spacing-sm);
}

pre {
  background: var(--light-color);
  font-size: var(--text-size-1);
  overflow-x: scroll;
}

blockquote {
  overflow-wrap: break-word;
}

blockquote cite {
  display: block;
  margin: var(--spacing-md) 0 0 0;
}

figcaption {
  margin-top: 0;
}

hr {
  background: var(--text-color);
  border: none;
  height: 2px;
  margin: var(--spacing-md) 0;
  width: 100%;
}

@media (min-width: 600px) {
  pre, blockquote {
    padding: var(--spacing-sm) var(--spacing-lg);
  }

  pre {
    font-size: var(--text-sm);
  }
  
  blockquote {
    font-size: var(--text-md);
  }

  blockquote cite {
    display: block;
    font-size: var(--text-sm);
  }

  hr {
    width: 100%;
    margin: var(--spacing-lg) 0;
  }
}


/* 
** Lists
*/

ul,
ol {
  line-height: calc(var(--default-line-height) * var(--text-scale));
}

ul li,
ol li {
  margin: 0;
}

ul li ul, 
ol li ol {
  margin: 0;
}

/* 
** Tables
*/

.table-container {
  margin: var(--spacing-md) 0;
  max-width: 100%;
  overflow: auto;
}

table {
  border-spacing: 0;
  font-size: var(--text-xs);
  line-height: 1.6;
  margin: 0;
  white-space: nowrap;
  width: 100%;
}

thead,
tfoot,
tbody {
  max-width: 100%;
}

thead th {
  border-bottom: 2px solid var(--dark-color);
  padding-bottom: 0;
}

tfoot th {
  border-top: 2px solid var(--dark-color);
  padding-top: 0;
}

td {
  border-bottom: 1px solid var(--light-color);
  color: var(--dark-color);
  font-size: var(--text-sm);
}

th,
td {
  padding: 0;
  text-align: left;
}

th+th,
td+td {
  padding: 0 var(--spacing-sm);
}

@media (min-width: 600px) { 
  .table-container {
    margin: var(--spacing-lg) 0;
}
  table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: var(--text-sm);
    max-width: 100%;
    width: 100%;
  }
  th,
  td {
    padding: 0;
}
}

/* 
** Buttons
*/

.btn, a.btn, button, [type=submit], [type=reset], [type=button] {
  -webkit-appearance: none;
  background: var(--light-color);
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
  margin: 0 0 .5rem 0;
  padding: var(--spacing-sm) var(--spacing-md);
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
}

.btn:hover, a.btn:hover, button:hover, [type=submit]:hover, [type=reset]:hover, [type=button]:hover {
  background: var(--dark-color);
  color: var(--light-color);
  text-decoration: none;
}

.btn:focus, a.btn:focus, button:focus, [type=submit]:focus, [type=reset]:focus, [type=button]:focus {
  background: var(--light-color);
  color: var(--dark-color);
  text-decoration: none;
}

form {
  max-width: var(--container-desktop);
}

input, select, textarea {
  background: transparent;
  border: 1px solid var(--dark-color);
  border-radius: 2px;
  color: var(--text-color);
  display: block;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: .5rem;
  outline: none;
  padding: 8px;
  width: 100%;
}

input:hover, select:hover, textarea:hover {
  border: 1px solid var(--dark-color);
}

input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  border: 1px solid var(--dark-color);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px var(--focus);
}

textarea {
  height: auto;
  overflow: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--dark-color);
  line-height: 1;
  width: 100%;
}

select::-ms-expand {
  display: none;
}

[type=range] {
  width: 100%;
}

label {
  display: block;
  font-weight: 600;
  margin: var(--spacing-md) 0 var(--spacing-sm);
  max-width: 100%;
}

/* 
** Helpers
*/

.r-img {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.padding-top-xs {
  padding-top: var(--spacing-sm);
}

.padding-top-sm {
  padding-top: var(--spacing-sm);
}

.padding-top-md {
  padding-top: var(--spacing-md);
}

.padding-top-lg {
  padding-top: var(--spacing-lg);
}

.padding-top-none {
  padding-top: 0;
}

.padding-bottom-xs {
  padding-bottom: var(--spacing-sm);
}

.padding-bottom-sm {
  padding-bottom: var(--spacing-sm);
}

.padding-bottom-md {
  padding-bottom: var(--spacing-md);
}

.padding-bottom-lg {
  padding-bottom: var(--spacing-lg);
}

.padding-bottom-none {
  padding-bottom: 0;
}

.padding-right-xs {
  padding-right: var(--spacing-sm);
}

.padding-right-sm {
  padding-right: var(--spacing-sm);
}

.padding-right-md {
  padding-right: var(--spacing-md);
}

.padding-right-lg {
  padding-right: var(--spacing-lg);
}

.padding-right-none {
  padding-right: 0;
}

.padding-left-xs {
  padding-left: var(--spacing-sm);
}

.padding-left-sm {
  padding-left: var(--spacing-sm);
}

.padding-left-md {
  padding-left: var(--spacing-md);
}

.padding-left-lg {
  padding-left: var(--spacing-lg);
}

.padding-left-none {
  padding-left: 0;
}

.margin-top-xs {
  margin-top: var(--spacing-sm);
}

.margin-top-sm {
  margin-top: var(--spacing-sm);
}

.margin-top-md {
  margin-top: var(--spacing-md);
}

.margin-top-lg {
  margin-top: var(--spacing-lg);
}

.margin-top-none {
  margin-top: 0;
}

.margin-bottom-xs {
  margin-bottom: var(--spacing-sm);
}

.margin-bottom-sm {
  margin-bottom: var(--spacing-sm);
}

.margin-bottom-md {
  margin-bottom: var(--spacing-md);
}

.margin-bottom-lg {
  margin-bottom: var(--spacing-lg);
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-right-xs {
  margin-right: var(--spacing-sm);
}

.margin-right-sm {
  margin-right: var(--spacing-sm);
}

.margin-right-md {
  margin-right: var(--spacing-md);
}

.margin-right-lg {
  margin-right: var(--spacing-lg);
}

.margin-right-none {
  margin-right: 0;
}

.margin-left-xs {
  margin-left: var(--spacing-sm);
}

.margin-left-sm {
  margin-left: var(--spacing-sm);
}

.margin-left-md {
  margin-left: var(--spacing-md);
}

.margin-left-lg {
  margin-left: var(--spacing-lg);
}

.margin-left-none {
  margin-left: 0;
}

.more-bold {
  font-weight: bolder;
}

.less-bold {
  font-weight: lighter;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.show {
  visibility: visible !important;
}

.hide {
  visibility: hidden !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.vertical-center {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}