/* 
** Variable Setup
** See documentation for more information.
*/

:root {
  /* Typography */
  --default-size: 1rem;
  --text-scale: 1.2;
  --default-line-height: 1.4;
  --text-xs: calc(var(--default-size) / var(--text-scale));
  --text-sm: var(--default-size);
  --text-md: calc(var(--text-sm) * var(--text-scale));
  --text-lg: calc(var(--text-md) * var(--text-scale));
  --text-xl: calc(var(--text-lg) * var(--text-scale));
  --text-xxl: calc(var(--text-xl) * var(--text-scale));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale));
  --font-primary: sans-serif;
  --font-secondary: serif;
  --font-monospace: monospace;
  --font-color: #343434;

  /* Layout */
  --container-narrow: 600px;
  --container: calc(var(--container-narrow) * 1.5);
  --container-wide: calc(var(--container-wide) * 1.5);
 
  /* Spacing */
  --spacing-xs:.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;

  /* Breakpoints */
  --mobile-bp: var(--container-narrow);
  --tablet-bp: var(--container);
  --desktop-bp: var(--container-wide);

  /* Colors */
  --background: #fff;
  --primary: #1fd3ac;
  --secondary: #0250bc;
  --accent: #eebe3b;
  --error: #e46e59;
  --success: #1ebe5c;
  --focus: var(--primary);
}


body {
  color: var(--font-color);
  font-family: var(--font-primary);
  font-size: var(--default-size);
  line-height: var(--default-line-height);
}

/* 
** Layout
*/
.container {
  max-width: 95%;
  margin: 1.5rem auto;
  
}

@media (min-width: 600px) {
  .container {
    max-width: var(--tablet-bp);
}
}

@media (min-width: 800) {
  .container {
    max-width: var(--desktop-bp);
  }
}
/* 
** Typography
*/

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
  margin-top: var(--spacing-lg);
}

h1 {
  font-size: var(--text-xxl);
}
h2 {
  font-size: var(--text-xl);
}
h3 {
  font-size: var(--text-lg);
}
h4 {
  font-size: var(--text-md);
}
h5 {
  font-size: var(--text-sm);
}

p {
  font-size: var(--text-sm);
}

p+p {
  margin-top: var(--spacing-md);
}

@media (min-width: 600px) {
  h1 {
    font-size: var(--text-xxxl);
  }
  h2 {
    font-size: var(--text-xxl);
  }
  h3 {
    font-size: var(--text-xl);
  }
  h4 {
    font-size: var(--text-lg);
  }
  h5 {
    font-size: var(--text-md);
  }
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-skip-ink: auto;
}

a:hover, a:active, a:focus {
  color: var(--primary);
}

mark,
code,
kbd {
  padding: 2px 3px;
  color: #101010;
}

code,
samp,
pre {
  font-family: var(--font-monospace);
}

mark {
  background: #fff7b4;
}

code {
  background: #eee;
}

kbd {
  background: #eee;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
}

sup,
sub,
small {
  font-size: var(--text-xs);
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -.25rem;
}

/* 
** Inputs
*/
pre, blockquote {
  background: #eee;
  max-width: 100%;
  margin: 0;
  padding: var(--spacing-sm);
}

pre {
  overflow-x: scroll;
  font-size: var(--text-xs);
}

blockquote {
  overflow-wrap: break-word;
}

blockquote cite {
  display: block;
  margin: var(--spacing-md) 0 0 0;
}

hr {
  width: 100%;
  margin: 0;
  border: none;
  height: 2px;
  background: #eee;
}

@media (min-width: 600px) {
  pre, blockquote {
    margin: 0 -2rem;
    padding: 1rem 2rem;
  }

  pre {
    font-size: var(--text-sm);
  }
  
  blockquote {
    font-size: var(--text-md);
  }

  blockquote cite {
    display: block;
    font-size: var(--text-sm);
  }

  hr {
    width: 100% + 2em;
    margin: 0 -2rem;
  }
}


/* 
** Lists
*/
ul,
ol {
  line-height: 1.6;
}

ul li,
ol li {
  margin: 0;
}

ul li ul, 
ol li ol {
  margin: 0;
}

/* 
** Tables
*/

.table-container {
  overflow: auto;
  max-width: 100%;
  margin: 0;;
}

table {
  border-spacing: 0;
  margin: 0;
  line-height: 1.6;
}

thead,
tfoot,
tbody {
  max-width: 100%;
}

thead th {
  border-bottom: 2px solid #303030;
  padding-bottom: var(--spacing-xs);
}

tfoot th {
  border-top: 2px solid #303030;
  padding-top: var(--spacing-xs);
}

td {
  border-bottom: 1px solid #eee;
  color: #404040;
  font-size: var(--text-sm);
}

th,
td {
  text-align: left;
  padding: var(--spacing-xs) var(--spacing-sm);
}

@media (min-width: 600px) { 
  .table-container {
    margin: 0 -2rem;
}
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
  }
}

/* 
** Buttons
*/

.button, a.button, button, [type=submit], [type=reset], [type=button] {
  -webkit-appearance: none;
  border: none;
  display: inline-block;
  border-radius: 4px;
  background: #ccc;
  color: #404040;
  font-weight: 600;
  font-size: 1rem;
  text-transform: none;
  padding: .75rem 1.25rem;
  margin: 0 0 .5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.button:hover, a.button:hover, button:hover, [type=submit]:hover, [type=reset]:hover, [type=button]:hover {
  background: #eee;
  color: #303030;
  text-decoration: none;
}

.button:focus, .button:active, a.button:focus, a.button:active, button:focus, button:active, [type=submit]:focus, [type=submit]:active, [type=reset]:focus, [type=reset]:active, [type=button]:focus, [type=button]:active {
  border: 1px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

/* 
** Forms
*/

[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
  display: block;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #404040;
  padding: .75rem;
  outline: none;
  background: transparent;
  margin-bottom: .5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

[type=color]:hover, [type=date]:hover, [type=datetime]:hover, [type=datetime-local]:hover, [type=email]:hover, [type=month]:hover, [type=number]:hover, [type=password]:hover, [type=search]:hover, [type=tel]:hover, [type=text]:hover, [type=url]:hover, [type=week]:hover, [type=time]:hover, select:hover, textarea:hover {
  border: 1px solid #ccc;
}

[type=color]:focus, [type=color]:active, [type=date]:focus, [type=date]:active, [type=datetime]:focus, [type=datetime]:active, [type=datetime-local]:focus, [type=datetime-local]:active, [type=email]:focus, [type=email]:active, [type=month]:focus, [type=month]:active, [type=number]:focus, [type=number]:active, [type=password]:focus, [type=password]:active, [type=search]:focus, [type=search]:active, [type=tel]:focus, [type=tel]:active, [type=text]:focus, [type=text]:active, [type=url]:focus, [type=url]:active, [type=week]:focus, [type=week]:active, [type=time]:focus, [type=time]:active, select:focus, select:active, textarea:focus, textarea:active {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #eee;
}

textarea {
  overflow: auto;
  height: auto;
}

select {
  color: #404040;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 1;
}

select::-ms-expand {
  display: none;
}

[type=range] {
  width: 100%;
}

label {
  font-weight: 600;
  max-width: 100%;
  display: block;
  margin: var(--spacing-md) 0 var(--spacing-xs);
}